{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Flux</title>
</head>

<form action="/LITReview_app/ticket_creation">
    <button type="submit">Demander une critique</button>
</form>

<form action="/LITReview_app/ticket_review_creation">
    <button type="submit">Créer une critique</button>
</form>
{% if posts %}
    {% for post in posts %}
        {% if post.ticket %} {# review #}
            {% if post.user == user_connected %}
                <p>Vous avez publié une critique</p>
            {% else %}
                <p>{{ post.user }} a publié une critique</p>
            {% endif %}
            <p>{{ post.time_created }}</p>
            <p>{{ post.headline }}</p>
            <p>{{ post.rating }}</p>
            <p>{{ post.body }}</p>
            <p>{{ post.ticket.title }}</p>
            <p>{{ post.ticket.description }}</p>
            {% load static %}
            {% if post.ticket.image %}
                <img src="{{ post.ticket.image.url }}">
            {% endif %}
            <p>--------------------------------</p>
        {% else %} {# ticket #}
            <p>{{ post.title }}</p>
            <p>{{ post.time_created }}</p>
            <p>{{ post.description }}</p>
            <form action="/LITReview_app/review_creation/{{ post.id }}">
                <button type="submit">Créer une critique</button>
            </form>
            <p>--------------------------------</p>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}
