{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<h3>Vos posts</h3>
<img src="file:///C:/Users/bjiri/Documents/Informatique/Développement WEB/CV/Noir et blanc.jpg">

{% if posts %}
    {% for post in posts %}
        {% if post.ticket %} {# review #}
            <p>Vous avez publié une critique</p>
            <p>{{ post.headline }}</p>
            <p>{{ post.rating }}</p>
            <p>{{ post.body }}</p>
            <p>{{ post.time_created }}</p>
            <p>{{ post.ticket.title }}</p>
            <p>{{ post.ticket.description }}</p>
            {% load static %}
            <img src="{% static post.ticket.image %}">
            <form action="/LITReview_app/review_update/{{ post.id }}">
                <button type="submit">Modifier</button>
            </form>
            <form action="/LITReview_app/review_delete/{{ post.id }}">
                <button type="submit">Supprimer</button>
            </form>
            <p>--------------------------------</p>
        {% else %} {# ticket #}
            <p>Vous avez publié un ticket</p>
            <p>{{ post.title }}</p>
            <p>{{ post.time_created }}</p>
            <p>{{ post.description }}</p>
            <form action="/LITReview_app/ticket_update/{{ post.id }}">
                <button type="submit">Modifier</button>
            </form>
            <form action="/LITReview_app/ticket_delete/{{ post.id }}">
                <button type="submit">Supprimer</button>
            </form>
            <p>--------------------------------</p>
        {% endif %}
    {% endfor %}
{% endif %}


{% endblock content %}