<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'LITReview_app/style.css' %}">
<body>
    <h1>LITReview</h1>
    <ul>
        <li><a href="/LITReview_app/flux/">Flux</a></li>
        <li><a href="/LITReview_app/posts/">Posts</a></li>
        <li><a href="/LITReview_app/subscriptions/">Abonnements</a></li>
        <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
    </ul>
    {% block content %}{% endblock content %}
</body>
</html>
