<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css"
  	href="{% static 'style.css' %}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page d'accueil</title>
</head>
<body>
<header>
	<h1>LITReview</h1>
</header>

<div class="horizontal_aligned">
	<div class="block_centered vertical_aligned width_min">
		<h2 class="block_centered_with_space">Inscrivez-vous maintenant</h2>
		<form class="block_centered" action="registration">
		<input type="submit" value="S'inscrire">
		</form>
	</div>

	<div class="block_centered vertical_aligned width_min items_centered">
		<h2 class="block_centered_with_space">Connectez-vous</h2>


		<form class="width_100 relative" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input class="absolute_right" type="submit" value="Se connecter">
		</form>
	</div>
</div>
</body>
</html>

