<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'style.css' %}">
<body>
    <header>
        <h1>LITReview</h1>
        <nav>
            <ul>
                <li><a href="/feeds/flux/">Flux</a></li>
                <li><a href="/feeds/posts/">Posts</a></li>
                <li><a href="/subscriptions/">Abonnements</a></li>
                <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>
